
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 80px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

@media screen and (max-width: 960px)
.centered{
    padding-top: 50px;
}